.about {
   width: 100%;
   padding: 0 7rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: "title title title"
      "avatar text text"
      "skills skills skills";
}

.about .aboutTitle {
   grid-area: title;
   padding-top: 8rem;
}

.about .box-avatar {
   grid-area: avatar;
}

.about .aboutAvatar {
   max-width: 43rem;
   display: block;
   margin: auto;
   padding: 1.5rem;
}

.about .aboutAvatar img {
   width: 100%;
   border: 1rem solid transparent;
}

.about .aboutText {
   grid-area: text;
   color: var(--color-primary);
   padding-left: 1rem;
}

.about .aboutText p {
   font-size: 1.6rem;
   line-height: 2.6rem;
   margin-bottom: 1.5rem;
   color: #bbb;
}

.about .aboutText .btn-text:nth-child(2) {
   margin-left: 2rem;
}

.about .socialMedia {
   margin-top: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.about .socialMedia i {
   margin-left: 1rem;
   padding: 1rem;
   border-radius: 3rem;
   font-size: 2rem;
   color: #bbb;
   background-color: var(--background-dark);
}

.about .socialMedia i:hover {
   color: var(--color-theme);
   cursor: pointer;
}

.about .skills-container {
   grid-area: skills;
   width: 100%;
   height: 100%;
}

.about .skills-container .about-tabs {
   width: 100%;
   padding: 6rem 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.about .skills-container .about-tabs .tab-item {
   padding: .8rem 1.5rem;
   margin-right: 1.5rem;
   border-radius: 3rem;
   background-color: var(--background-dark);
   color: #bbb;
   font-size: 1.6rem;
   font-weight: 500;
   text-transform: capitalize;
}

.about .skills-container .about-tabs .btn-link-p {
   color: #bbbbbb;
   border-bottom: 0.3rem solid #04D361;
   padding: .5rem .5rem 0rem .5rem;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   cursor: pointer;
   transition: all 0.3s ease;
}

.about .skills-container .about-tabs .btn-link-p:hover {
   color: var(--color-theme);
   transition: all 0.3s ease;
}

.about .tab-content {
   display: none;
}

.about .tab-content.active {
   display: flex;
   animation: fadeInTop 0.5s ease;
}

.about .services {
   width: 100%;
   padding-bottom: 5rem;
   justify-content: center;
   align-items: center;
   gap: 3rem;
}

.about .services .boxServices {
   width: 18rem;
   height: 27rem;
   padding: 1.5rem;
   border-radius: 3rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: var(--background-dark);
}

.about .services .boxServices i {
   font-size: 7rem;
   margin-bottom: 2rem;
   color: var(--color-theme)
}

.about .services .boxServices h1 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
   color: var(--color-primary);
}

.about .services .boxServices p {
   font-size: 1.2rem;
   color: #bbb;
   line-height: 1.6rem;
}

.about .education {
   margin-bottom: 5rem;
   flex-direction: column;
   align-items: center;
}

.about .education .boxEducation {
   display: grid;
   grid-template-columns: 5rem 1fr;
   grid-template-areas: "row text ";
   padding: 3rem 0;
   position: relative;
   width: 100%;
}

.about .education .boxEducation .rowTimeline {
   grid-area: row;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.about .education .boxEducation::before {
   z-index: 1;
   content: '';
   width: 0.1rem;
   height: 100%;
   left: 2.5rem;
   top: 0;
   background-color: #353535;
   position: absolute;
}

.about .education .boxEducation .rowTimeline .row {
   border: 2px solid yellow;
   height: 100%;
}

.about .education .boxEducation .rowTimeline i {
   font-size: 2.5rem;
   padding: .5rem;
   border: 1px solid #353535;
   background-color: var(--background-dark);
   border-radius: 50%;
   color: var(--color-theme);
   z-index: 5;
   position: relative;
}

.about .education .boxEducation .boxText {
   grid-area: text;
   color: #bbb;
   padding-top: 1rem;
}

.about .education .boxEducation .boxText h1 {
   color: var(--color-primary);
}

.about .education .boxEducation .boxText p:nth-of-type(1) {
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

.about .education .boxEducation .boxText p:nth-of-type(2) {
   margin-top: 1rem;
}

.about .skills {
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 100%;
}

.about .skills h1 {
   font-family: 'Baloo 2', sans-serif;
   font-weight: 700;
   color: var(--color-primary);
   margin: 3rem;
   text-transform: uppercase;
}

.about .skills strong {
   color: var(--color-theme);
   margin-left: .2rem;
   font-size: 3.5rem;
   font-family: sans-serif;
}

.about .skills .boxSkill {
   /* background-color: red; */
   text-align: center;
}

.about .skills .boxSkill i {
   font-size: 6rem;
   color: var(--color-theme);
   margin: 2rem;
   padding: 1.5rem;
}


@media(max-width: 768px) {
   .about {
      padding: 0 2rem;
      grid-template-areas: "title title title"
         "avatar avatar avatar"
         "text text text"
         "skills skills skills";
   }

   .about .aboutAvatar {
      max-width: 100%;
   }

   .about .aboutText {
      margin-top: 2rem;
      padding: 0;
   }

   .about .aboutText p {
      font-size: 1.4rem;
      line-height: 2.3rem;
   }

   .about .services {
      flex-direction: column;
   }

   .about .services .boxServices {
      width: 100%;
      padding-bottom: 3rem;
   }
}