.contact {
   display: grid;
   grid-template-areas: "title"
      "contactBox"
      "footer";
   grid-template-rows: 1fr 1fr 1fr;
   width: 100%;
   height: 100vh;
}

.contact .contactTitle {
   grid-area: title;
   padding-top: 8rem;
   margin: 0;
}

.contact .contactContent {
   grid-area: contactBox;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   padding: 0rem 7rem;
}

.contact .contactContent .contactBox {
   padding: 5rem 1.5rem;
   text-align: center;
   border-radius: 3rem;
   width: 100%;
}

.contact .contactContent .contactBox i {
   color: var(--color-theme);
   font-size: 4rem;
}

.contact .contactContent .contactBox h2 {
   font-size: 1.6rem;
   font-weight: 600;
   color: #fff;
   margin: 1.5rem 0 1rem;
   text-transform: capitalize;
}

.contact .contactContent .contactBox p {
   font-size: 1.6rem;
   color: #bbb;
   line-height: 2.6rem;
}

.contact .contactFooter {
   grid-area: footer;
   display: flex;
   align-items: end;
}

.contact .contactFooter .footerContent {
   width: 100%;
   margin: 3rem 7rem;
   padding-top: 3rem;
   text-align: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #bbb;
   border-top: 1px solid rgba(114, 114, 126, 0.2);
}

.contact .contactFooter .footerContent b {
   color: var(--color-theme);
}

@media(max-width: 768px) {
   .contact .contactContent {
      flex-direction: column;
      margin-top: 3rem;
   }
}

@media(max-width: 420px) {
   .contact .contactContent {
      flex-direction: column;
      margin-top: 3rem;
      padding: 3rem;
   }

   .contact .contactTitle {
      font-size: 2rem;
   }


   .contact .contactFooter .footerContent {
      flex-direction: column;
      margin: 0rem 0rem 2rem 0rem;
   }
}